<div class="ui segment">
    <img class="ui centered medium image" ng-src="{{view.results.Poster}}">
    <p>{{view.results.Title}}</p>
    <p>{{view.results.Year}}</p>
    <p>{{view.results.Plot}}</p>
    <p>{{view.results.Rated}}</p>

    <ul class="detailList">

        <li>{{view.results.Awards}}</li>
        <p></p>
        <li>{{view.results.Actors}}</li>
        <p></p>
        <li>Metascore: {{view.results.Metascore}}</li>
        <p></p>
        <li>IMDB Rating: {{view.results.imdbRating}}</li>
    </ul>
</div>
